{% extends 'base.html' %}

{% block title %} about {% endblock title %}
{% block alink%}active{% endblock alink%}
{% block body %} 
   <!-- <h1 class="text-center">About us</h1> -->
   <div class="container text-center">
    <h1 class="text-center my-3" style="color:rgb(111, 216, 111);">Welcome to BookMYTurf</h1>
    <h3 class="text-center">Who we are?</h3>
    <p>BookMYTurf Sports App (Formerly Groundwala) is the India’s first sports facility booking platform, which also helps sports enthusiast to find similar skills opponents/partners to play with. BookMYTurf  Sports App is owned and operated by MS Sports Solutions Pvt Ltd having its presence in Hyderabad, and Gurgaon.</p>
    
    
    
    <h3 class="text-center">What are we doing?</h3>
    <p>Started in 2018 in Hyderabad, India. BookMYTurf now present in multiple cities of India. With just a click of a button, BookMYTurf is revolutionizing how pickup games are planned and booked in India. Running one of the most simplified platform to find similar skill players and book “play n play” slots at sports facility. Facilitating over 1 lac users and Offering over 600 bookable sports facilities across various sports like Cricket, Football, Badminton, Volley ball and cricket nets in different cities of India. BookMYTurf event team also organizes one of the most professionally run corporate sports leagues in different cities and is also preferred vendor of various multinational company for organizing their intra company sports events. BookMYTurf's mission to facilitate over 10 Cr Indians by 2023 and our vision is to make sports an integral part of Health & Fitness regime.</p>
    
    
    
    <h3 class="text-center">Why choose us?</h3>
    <p>BookMYTurf provides sports enthusiast, the most uncomplicated and quickest booking experience. The platform offers the most comprehensive categories of sports on its platform so if you are an expert of cover drive or a free kick or a Smash, we have got your back. Find similar skilled players and opponent teams by creating a game in our “Connect” section and enjoy competitive pickup games. With BookMYTurfPro subscription book sports facility in just 30 secs, Book now pay later, single click booking, cash backs etc. Choose and register in sports & fitness activities happening near you, in our “Participate” section. So next time you or your company plan to play sports do check with us.</p>
   </div>


{% endblock body %}
